{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Фильмы
{% endblock %}
{% block color %}
#5d3a8e
{% endblock %}
{% block content %}
<div class="m">
<div class="movies">
<h1>Фильмы</h1>
    {% for i in movies %}
    <a href="{{ i.get_absolute_url }}"  class="h">
    <div data-tilt data-tilt-perspective="1400"  class = "movie">
        <img class="img-posters" src="{{ i.poster.url }}">
        <div class="movie-detail-poster">
            <h4> {{i.title}} </h4>
            <h6> {{i.tagline}} </h6>
        </div>
    </div>
    </a>
    {% endfor %}
</div>
</div>
{% endblock %}